.mainBackgroung {
  background-color: #F5F5F5;
  /* background-color: #f3f5f9; */
}

.main_content {
  width: 87%;
  margin-left: 200px;
  background-color: #FFF;
  padding: 2rem;
  height: 100vh;
}

.all_inputs {
  border: solid #330099 2px;
  padding: 0.5rem;
  border-radius: 10px;
}

.all_inputs:focus {
  border: solid #007FFF 2px;
  outline: #007FFF;
}

.button_update {
  padding: 0.5rem;
  background-color: #007FFF;
  color: #FFF;
  border-radius: 10px;
}

.button_delete {
  padding: 0.5rem;
  background-color: red;
  color: #FFF;
  border-radius: 10px;
}

.input_error {
  border: solid #fc8181 2px;
  padding: 0.5rem;
  border-radius: 10px;
}

.input_error:focus {
  border: solid #fc8181 2px;
  outline: #fc8181;
}

.error_text {
  color: #fc8181;
  font-size: small;
}

button:disabled {
  opacity: 0.35;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #007FFF;
  color: #FFF;
}

.pagination .active {
  background-color: #007FFF;
  color: #FFF;
}